<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>
  
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">		  
		    <a class="navbar-brand" href="/">Coronavirus Tracker Application</a>
		    
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/">Global</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="USA">USA corona cases</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="USADeath">USA corona deaths</a>
		        </li>
		      </ul>
		    </div>
		  </div>
	  </nav>

	 
  	
	<div style="background-color:#D6EAF8; text-align: center;" class="jumbotron">
	   <h1 style="color:red;" th:text="${totalReportedCases}"></h1>    	
	   <p class="lead"> <b>Total USA</b> deaths reported as of today</p>
	   <h1 style="color:green;" th:text="${totalNewCases}"> </h1>
	   <p class="lead"> <b> New USA</b> deaths reported since previous day</p>
	   </br>
	</div> 
	
	<div class = "container">  
	  <table class = "table">
	  	  <tr> </br>
	      </tr>
	      <tr>
	        <th>Province/State</th>
	        <th>Population</th>
	        <th>Total cases reported</th>
	        <th>Changes since last day</th>
	        
	      </tr>
	      <tr th:each="usadeath : ${usadeaths}">
	        <td th:text="${usadeath.provinceState}"></td>
	         <td th:text="${usadeath.population}"></td>
	        <td th:text="${usadeath.totalDeath}">0</td>
	        <td th:text="${usadeath.diffFromLastDay}">0</td>
	      </tr>
	    </table>
  </div>
  </body>
</html>